:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login__container {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.login__title {
    margin: 0 0 16px;
    color: #221b9c;
}

.login__input {
    margin-bottom: 16px;
}