.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 48px;
  padding: 16px 32px;
  background-color: #eceaf9;
}

.header__logo {
  margin-right: auto;
}

.header__logo img {
  height: 32px;
}

.header__username {
  margin-right: 16px;
}