.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 48px;
  padding: 16px 32px;
  background-color: #eceaf9;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

a.header__logo {
  text-decoration: none;
  color: #7a81ff;
}

.header__logo img {
  margin-right: 8px;
  height: 32px;
}

.header__user-controls {
  display: flex;
  align-items: center;
}

.header__username {
  margin-right: 16px;
}