<app-breadcrumbs [courseName]="course?.name"></app-breadcrumbs>
<form class="course-data__container" [formGroup]="courseForm">
  <div [ngClass]="{'error': courseForm.get('name').invalid }">
    <label>Title</label>
    <span class="ml-16" *ngIf="courseForm.get('name').hasError('required') && courseForm.get('name').touched">This field is required</span>
    <span class="ml-16" *ngIf="courseForm.get('name').hasError('maxlength')">Field exceeded maximum length of 50 characters</span>
  </div>
  <input class="mb-16" type="text" formControlName="name" (change)="onChange($event)">
  
  <div [ngClass]="{'error': courseForm.get('description').invalid }">
      <label>Description</label>
      <span class="ml-16" *ngIf="courseForm.get('description').hasError('required') && courseForm.get('description').touched">This field is required</span>
      <span class="ml-16" *ngIf="courseForm.get('description').hasError('maxlength')">Field exceeded maximum length of 500 characters</span>
    </div>
  <textarea class="course-data__description mb-16" formControlName="description"></textarea>
  
  <label>Date</label>
  <input class="mb-16" type="date">
  
  <label>Duration</label>
  <div class="course-data__duration-group mb-16">
    <input class="mr-16" type="number" min="0">
    <span><b>{{ course?.length | duration }}</b></span>
  </div>
  
  <label>Authors</label>
  <input class="mb-16" type="text">
  
  <div class="course-data__buttons">
    <button class="btn btn-primary mr-16" (click)="onSave()" [disabled]="courseForm.invalid">Save</button>
    <button class="btn btn-outline" (click)="onCancel()">Cancel</button>
  </div>
</form>
