.courses-page__load-more {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.courses-page__load-more:hover {
  box-shadow: 3px 3px 2px #eceaf9;
}

.courses-page__load-more:active {
  color: white;
  background-color: #7a81ff;
}

.courses-page__no-data {
  width: 100%;
  color: #221b9c;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}