<app-breadcrumbs></app-breadcrumbs>
<app-courses-controls (searchCourses)="onCourseSearch($event)" (addCourse)="onAddCourse()"></app-courses-controls>
<ng-container *ngIf="courses.length; else noData">
  <app-course-item *ngFor="let course of courses"
                   [data]="course"
                   (deleteCourse)="onDeleteCourse($event)"
                   (editCourse)="onEditCourse($event)"
                   (viewCourse)="onViewCourse($event)"
  ></app-course-item>
  <button class="courses-page__load-more" translate (click)="onLoadMore()">pages.courses.loadMore</button>
</ng-container>
<ng-template #noData>
  <div class="courses-page__no-data" translate>pages.courses.noData</div>
</ng-template>

<ng-container *ngIf="showModal">
  <div class="overlay">
    <div class="modal">
      <p translate>modals.deleteCourse.title</p>
      <div class="modal__buttons">
        <button class="btn btn-primary" translate (click)="onDeleteConfirm()">modals.common.yes</button>
        <button class="btn btn-outline" translate (click)="onDeleteCancel()">modals.common.no</button>
      </div>
    </div>
  </div>
</ng-container>