<app-breadcrumbs></app-breadcrumbs>
<app-courses-controls (searchCourses)="onCourseSearch($event)" (addCourse)="onAddCourse()"></app-courses-controls>
<ng-container *ngIf="courses$ | async as courses; else noData">
  <app-course-item *ngFor="let course of courses" [data]="course" (deleteCourse)="onDeleteCourse($event)" (editCourse)="onEditCourse($event)"></app-course-item>
  <div class="courses-page__load-more" (click)="onLoadMore()">
    Load more
  </div>
</ng-container>
<ng-template #noData>
  <div class="courses-page__no-data">
      <p>No data</p>
      <p>Feel free to add new course</p>
  </div>
</ng-template>

<ng-container *ngIf="showModal">
  <div class="overlay">
    <div class="modal">
      <p>Do you really want to delete this course?</p>
      <div class="modal__buttons">
        <button class="btn btn-primary" (click)="onDeleteConfirm()">Yes</button>
        <button class="btn btn-outline" (click)="onDeleteCancel()">No</button>
      </div>
    </div>
  </div>
</ng-container>