.view-page__container {
  display: flex;
  margin-top: 16px;
}

.view-page__current {
  flex-grow: 1;
  margin-right: 32px;
}

.view-page__video {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 600px) {
  .view-page__video {
    height: 300px;
  }
}

.view-page__list {
  display: flex;
  flex-direction: column;
}

.view-page__list > h3 {
  margin-top: 0;
  color: #221b9c;
}

.view-page__placeholder {
  width: 120px;
  height: 80px;
  text-align: center;
  background-color: #eceaf9;
  margin-bottom: 8px;
}