<app-breadcrumbs [courseName]="course?.name"></app-breadcrumbs>
<div class="view-page__container">
  <div class="view-page__current">
    <iframe class="view-page__video" src="https://www.youtube.com/embed/_q-HL9YX_pk"></iframe>
    <div class="view-page__info">
      {{ course.description }}
    </div>
  </div>
  <div class="view-page__list">
    <h3>Related</h3>
    <div class="view-page__placeholder">Placeholder</div>
    <div class="view-page__placeholder">Placeholder</div>
    <div class="view-page__placeholder">Placeholder</div>
  </div>
</div>