<div class="course-item">
  <div class="course-item__heading">
    <h3 class="course-item__title">{{ data.title }}</h3>
    <div class="course-item__buttons">
      <button class="course-item__button btn btn-primary btn-round">
        <fa-icon [icon]="faPen" size="sm"></fa-icon>
      </button>
      <button class="course-item__button btn btn-primary btn-round" (click)="deleteCourse(data.id)">
        <fa-icon [icon]="faTrash" size="sm"></fa-icon>
      </button>
    </div>
    <div class="course-item__duration">{{ data.duration }} min</div>
    <div>{{ data.created.toLocaleDateString() }}</div>
  </div>
  <div class="course-item__description">
    {{ data.description }}
  </div>
</div>
