.course-item {
  padding: 16px 24px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 16px;
}

.course-item__top-rated {
  background-color: lightyellow;
}

.course-item:hover {
  box-shadow: 3px 3px 2px #eceaf9;
}

.course-item__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-item__title {
  margin: 0 8px 0 0;
}

.course-item__buttons { }

.course-item__button {
  margin-right: 4px;
}

.course-item__top-rated-icon {
  color: goldenrod;
}

.course-item__duration {
  margin: 0 16px 0 auto;
  font-weight: bold;
}

.course-item__created {
  font-weight: bold;
}

.course-item__description {
  text-align: justify;
}