/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  background-color: #ae9bd0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

.btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-round {
  padding: 3px 6px;
  border-radius: 50%;
}

.btn-primary {
  border: none;
  background-color: #7a81ff;
  color: white;
}

.btn-primary:hover {
  background: #d798c3;
}

.btn-outline {
  border: 1px solid #877cd0;
  background-color: rgba(0, 0, 0, 0);
  color: #221b9c;
}

.btn-outline:hover {
  border-color: #d798c3;
}

input {
  border: 1px solid #d0d0e9;
  border-radius: 8px;
  padding: 8px 16px;
  color: #d0d0e9;
  background-color: rgba(0, 0, 0, 0);
}

input:focus {
  border-color: #877cd0;
  color: #221b9c;
}